@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicação MVC</h1>
    <p class="lead">Feito por Rennan Chagas</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aplicação MVC</h2>
        <p>
            Feito por Rennan Chagas
        </p>
    </div>
</div>